{% extends "layout.html" %}

{% block title %}Health - M1/1 Video{% endblock %}
{% block main %}
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <ul class="list-unstyled components mb-5">
    <li>
      <h3 class="text-light m-1">Quick Access💾</h3>
    </li>
         <li>
            <a href="/Web/Math">คณิตศาสตร์</a>
        </li>
    <li>
            <a href="/Web/Science">วิทยาศาสตร์</a>
        </li>
    <li>
            <a href="/Web/English">ภาษาอังกฤษ</a>
        </li>
    <li>
            <a href="/Web/Thai">ภาษาไทย</a>
        </li>
    <li>
            <a href="/Web/Social">สังคม</a>
        </li>
    <li>
            <a href="/Web/Health">สุขศึกษา</a>
        </li>
    <li>
            <a href="/Web/History">ประวัติศาสตร์</a>
        </li>
    <li>
      <a href="/upload">Upload</a>
    </li>
    <li>
      <p style="font-size:10px; text-align: center; margin-top:10px; color: rgba(255, 255, 255, 0.8);">©2023 Jwind.tv Is a streaming service, Not associate with any official school.</p>
      </li>
      </ul>
    </div>
  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
  <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button><br><br>
  <div class="text-start">
        <form action="/search" method="get">
    <input type="text" size="80" class="rounded" id="search" placeholder="Search Tag" name="search" autocomplete="off">
    <input for="search" size="18" type="submit" class="rounded" id="search_btn" value="🔍︎">
  </form>
  </div>	
  <h3 class="text-light m-1">Beta testing - V{{ version }}</h3>
      </div>
    </nav>
<video src="#" id="video" style="width: 100%;" controls>No Video</video>
  <br>
  <h4 for="date">Date:
  <input class="btn btn-light" type="date" id="date" name="date">
  <button class="btn btn-dark" onclick="playvideo('Health')">Play</button>
  <button class="btn btn-dark" id="copylink" onclick="copylink('Health')">Copylink</button>
  </h4>
  </div></div>
            
</div>        
            
</div>
{% endblock %}