<!doctype html> <html lang="en">
  <head>
  		<title>M3/1 Video-streaming</title>
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=1.0 ,minimum-scale=1.0,  shrink-to-fit=yes">
		<link rel="icon" type="image/x-icon" href="/static/image/icon2.png">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
	        <ul class="list-unstyled components mb-5">
				
			  <li>
				<p style="font-size:10px; text-align: center; margin-top:10px; color: rgba(255, 255, 255, 0.8);">©2024 Jwind.xyz Is a streaming service for a classroom, Not associate with any official school.</p>
			  </li>
			

	        </ul>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
			<h3>{{ status_code }}</h3>
			<img class="notimg" width="20%" src="/static/image/icon2.png">
			<br><br>
			<h3>Sorry, The page you are looking for is unavailable</h3>
		
		

		</div>
	  </div>
		</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
	<script>
		
		if (screen.width <= 700) {
			document.getElementById("search").size = 17;
		}
	</script>
	<style>
		.notimg{
			width: 20%;
  			margin: auto;
  			display: block;
		}
	</style>
  </body>
</html>
