<!doctype html> <html lang="en">
  <head>
  		<title>M3/1 Video-streaming</title>
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=1.0 ,minimum-scale=1.0,  shrink-to-fit=yes">
		<link rel="icon" type="image/x-icon" href="/static/image/icon2.png">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
  </head>
  <body>
		{% if not have_table %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running with Video Database but no Table Found. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% elif not have_db %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running with no Video Database Found. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% endif %}
		{% if not online_mode %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running on Development server. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% endif %}

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
	        <ul class="list-unstyled components mb-5">
				
				<h3 class="text-light m-1" style="border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: 10px;">Quick Access💾</h2>
				
				<li >
					
					<a href="/" style="text-align: left;"> Home</a>
				</li>
	           <li>
				
	              <a href="/search?subject=Math">คณิตศาสตร์</a>
	          </li>
			  <li>
	              <a href="/search?subject=Science">วิทยาศาสตร์</a>
	          </li>
			  <li>
	              <a href="/search?subject=English">ภาษาอังกฤษ</a>
	          </li>
			  <li>
	              <a href="/search?subject=Thai">ภาษาไทย</a>
	          </li>
			  <li>
	              <a href="/search?subject=Social">สังคม</a>
	          </li>
			  <li>
	              <a href="/search?subject=Health">สุขศึกษา</a>
	          </li>
			  <li>
	              <a href="/search?subject=History">ประวัติศาสตร์</a>
	          </li>
			  <li>
				  <a href="/login">Logout</a>
			  </li>
			  <li style="border-top: 1px solid rgba(255, 255, 255, 0.1); padding: 10px; margin:0;">
				<p style="font-size:10px; text-align: center; margin-top:10px; color: rgba(255, 255, 255, 0.8);">©2024 Jwind.xyz Is a streaming service, Not associate with any official school.</p>
			  </li>
			

	        </ul>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dc3545;">
          <div class="container-fluid">
			<button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button><br><br>
			<div class="text-start">
				<form action="/search" method="get">
					<input class="navbarss" type="text" size="80" class="rounded" id="search" placeholder="Search" name="search" autocomplete="off">
					<input style="height: 30px;" for="search" size="18" type="submit" class="rounded" id="search_btn" value="🔍︎">
				</form>
			  </div>		
			<h3 class="text-light m-1">Welcome back 👋</h3>
          </div>
        </nav> 
		<div class="divblocks" id="Divss">
			<h2>V{{ version }} Update</h2></a>
            <p class="pfonts">{{ release_note }}</p>
			<p class="font-bold"></p>
		</div>
		<div>
			<div class="divblocks whts" id="Divsss">
				<h2 style="text-align: center; border-bottom: 1px solid rgba(0, 0, 0, 0.336);"> Total videos</h2></a>
				<h2 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ video_count }}</h2>
            	<p class="pfonts" style="text-align: center;"></p>

				<p class="font-bold"></p>
			</div>
			<div class="divblocks whtss" id="Divssss" >
				<h2 >V{{ version }} Update</h2></a>
            	<p class="pfonts">{{ release_note }}</p>
				<p class="font-bold"></p>
			</div>
		</div>
		
		<div class="preview_latestvideo">
		</div>
		
		
		

		</div>
	  </div>
		</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
	<script>
		
		if (screen.width <= 700) {
			document.getElementById("search").size = 17;
		}
		if (screen.width <= 1400) {
			document.getElementById("Divsss").style.width = "100%";
		}
		if (screen.width <= 1400) {
			document.getElementById("Divssss").style.width = "100%";
		}
	</script>
  </body>
</html>
