<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/static/image/icon2.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css" />
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
	<script src="https://unpkg.com/plyr@3"></script>
</head>
  <body>
    {% if not have_table %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running with Video Database but no Table Found. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% elif not have_db %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running with no Video Database Found. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% endif %}
		{% if not online_mode %}
		<div class="banner">
			<div class="banner__content">
			  <div class="banner__text">
				<strong>Warning:</strong> Running on Development server. 
			  </div>
			  <button class="banner__close" type="button">
				<span class="material-icons">
				  close
				</span>
			  </button>
			</div>
		  </div>
		{% endif %}
    {% block main %}{% endblock %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/Video.js"></script>
    <script>
      if (screen.width <= 700) {
        document.getElementById("search").size = 18;
      }
    </script>
  </body>
</html>
