<!DOCTYPE html>
<html>
	<head>
		<title>Login - Jwind.tv</title>
		<link rel="icon" type="image/x-icon" href="/static/image/icon2.png">
		<link rel="stylesheet" href="/static/login.css">
	</head>
	<body>
		<div class="container">
			<div class="card">
			  <img src="/static/image/icon2.png">
			  <h2>Login</h2>
			  <form>
				<label for="username">Username/Email</label>
				<input type="text" id="username" placeholder="Enter your username">
		  
				<label for="password">Password</label>
				<input type="password" id="password" placeholder="Enter your password">
		  
				<button type="submit">Login</button>
			  </form>
			</div>
		  </div>
	</body>
</html>