{% extends "layout.html" %}

{% block title %}Search - M3/1 Video{% endblock %}
{% block main %}


<!-- Video Preview -->
<div class="row">
{% if length == 0 %}
  <h5 class="text-center">No Video Available</h5>
  {% else %}
  <div class="row g-4">
      {% for i in range(length) %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
              <img 
                  src="/static/image/icon.png" 
                  class="card-img-top" 
                  onclick="window.location.href='/video/{{ related[i][6] }}';"
                  alt="Video Thumbnail">
              <div class="card-body">
                  <a href="/video/{{ related[i][6] }}" class="card-title text-decoration-none">
                      {{ related[i][1] }}
                  </a>
                  <p class="card-text">{{ related[i][3] }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  {% endif %}
</div>

<style>
  * {
    box-sizing: border-box;
  }
  
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 20px -5px; 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    height: auto;
    transition: transform .2s;
  }
  .card:hover {
    transform: scale(1.1);
  }
  </style>
{% endblock %}