{% extends "layout.html" %}

{% block title %}Upload - M1/1 Video{% endblock %}
{% block main %}
<head>
    <title>Upload Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://170.187.225.114/css/style.css">
  </head>
  <body>
    <form action = "/upload" method = "POST" enctype = "multipart/form-data" id="video">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>  
    <label for="cars">Choose a car:</label>
    <select id="subject" name="subject" form="video">
      <option value="Science">Science</option>
      <option value="Thai">Thai</option>
      <option value="Math">Math</option>
      <option value="Social">Social</option>
    </select> 
  </body>

{% endblock %}